section {
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   margin: 10px;
   justify-content: space-between;
}

section div {
   width: 23%;
   display: flex;
   justify-content: center;
   align-items: center;
}

div span {
   font-size: 30px;
}

section div:nth-of-type(5n) {
   width: 100%;
}
