nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li{
    display: flex;
    width: 15%;
    justify-content: center;
}
nav {
    gap: 10px;
}
nav ul li:hover{
    transform: scaleY(1.2);
}